*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
background-color: black;
}
body{
   background-image: url(https://images.unsplash.com/photo-1763911307188-d720be280538?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
}
:root{
    --x:100px;
    --y:100px;
}
div{
    height: 100%;
    width: 100%;
    background: radial-gradient(200px at var(--x) var(--y) ,rgba(255, 255, 255, 0)80%,rgba(0, 0, 0, 0.781)100%);
}