* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: whitesmoke;
}

h1 {
    font-family: monospace;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

@property --brotate {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes change {
    from {
        --brotate: 0deg
    }

    to {
        --brotate: 360deg
    }

}


.box {
    max-width: 300px;
    padding-inline: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 15px;

    background:
        linear-gradient(black) padding-box,
        conic-gradient(from var(--brotate), black, #bb0b20, black)border-box;
    border: 0px solid rgba(255, 255, 255, 0);
    animation: change 5s infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
    transition: all 0.3s linear;
    box-shadow: 0 0 0px #D5071E;
    color: whitesmoke;
    text-shadow: 0 0 0px #D5071E;
}

.box:hover {
    animation-play-state: running;
    border-width: 5px;
    box-shadow: 0 0 60px #D5071E;
    color:#D5071E;
    text-shadow: 0 0 10px #D5071E;
}




.box img {
    width: 100%;
}