*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    cursor: none;
}
main{
    width: 100%;
    height: 100%;
    background-color: black;
}
#cursor{
    width: 8rem;
    position: fixed;
}